---
layout: email-signatures
---


<div id="page-content" class="grid-row">

	<div id="signature-settings" class="grid-column-one-half">

		<h2>Settings</h2>

		<fieldset id="sig-format" aria-describedby="sig-format--legend" class="fieldset">
		<legend id="sig-colours--legend">Choose a style</legend>

			<p class="hint">Which email signature format do you want to use?</p>

			<div class="radios">

				<div class="radios--item">
					<input onclick="generatePreview()" type="radio" class="radios--input" name="sig-format" id="sig-format-default" value="default" checked>
					<label class="radios--label" for="sig-format-default">
						Default (tall)
					</label>
				</div>

				<div class="radios--item">
					<input onclick="generatePreview()" type="radio" class="radios--input" name="sig-format" id="sig-format-default-wide" value="default-wide">
					<label class="radios--label" for="sig-format-default-wide">
						Default (wide)
					</label>
				</div>

			</div>
		</fieldset>

		<hr>

		<fieldset id="sig-fields" aria-describedby="sig-fields--legend" class="fieldset">
			<legend>Enter your details</legend>

				<div class="text-input">
					<label class="label-sm input-label label" for="sig-name">Your name</label>
					<input class="input" id="sig-name" name="sig-name" type="text" placeholder="Joan Doe" onfocusout="generatePreview();">
				</div>

				<div class="text-input">
					<label class="label-sm input-label label" for="sig-role">Your role</label>
					<input class="input"  id="sig-role" name="sig-role" type="text" placeholder="Volunteer" onfocusout="generatePreview();">
				</div>

				<div class="text-input">
					<label class="label-sm input-label label" for="sig-number">Your phone number</label>
					<input class="input"  id="sig-number" name="sig-number" type="text" placeholder="07000 100 200" onfocusout="generatePreview();">
				</div>

				<div class="text-input">
					<label class="label-sm input-label label" for="sig-email">Your email</label>
					<input class="input" id="sig-email" name="sig-email" type="email" placeholder="info@civilservice.lgbt" value="info@civilservice.lgbt" onfocusout="generatePreview();">
				</div>

			</details>

		</fieldset>

		<hr>

		<fieldset id="sig-fields" aria-describedby="sig-fields--fieldset" class="fieldset">

			<legend id="sig-fields--fieldset">Signature output format</legend>

				<p class="hint">Some email clients support “parsed” email signatures and some require you to paste plain “HTML”.</p>

				<div class="radios--item">
					<input onclick="generatePreview()" type="radio" class="radios--input" name="sig-output" id="sig-output-parsed" value="parsed" checked>
					<label class="radios--label" for="sig-output-parsed">
						Parsed
					</label>
				</div>

				<div class="radios--item">
					<input onclick="generatePreview()" type="radio" class="radios--input" name="sig-output" id="sig-output-html" value="html">
					<label class="radios--label" for="sig-output-html">
						Plain HTML
					</label>
				</div>

		</fieldset>

		<hr>

		<fieldset class="fieldset">

				<label class="label label-md" for="copy-signature">
					Copy signature
				</label>
				<p class="hint">Use this button to copy the signature to your clipboard.</p>
				<p class="hint">If the output doesn't format as you'd expect when you paste it into your email client, try using a different output format</p>
				<button onClick="copySignature()" id="copy-signature" class="button">Copy signature</button>

		</fieldset>

	</div>

	<div id="signature-preview" class="grid-column-one-half">

		<h2>Preview</h2>

		<div id="email-signature-block">

			{% include signatures/volunteers/default.html %}

		</div>

		<textarea id="html-output" rows="5" wrap="soft">

		</textarea>

	</div>

</div>

<script type="text/javascript" src="{{ site.url | append: site.baseurl | append: site.js-path | append: '/volunteers/email-generator.js' }}"></script>